<link href="../instagram-service/instagram-service.html">
<link href="../paper-fab/paper-fab.html" rel="import">
<link href="../paper-shadow/paper-shadow.html" rel="import">


<polymer-element name="post-thumb">
	<template>
		<style>
			.card {
			  background: #fff;
		      width: 200px;
		      height: 200px;
		      float: left;
		      position: relative;
		      margin: 0 20px 20px 0;
		      border-radius: 2px;
		      overflow: visible;
			}
			.double {
				width: 400px;
			}
			.label {
				background: #fff;
				border-top: 2px solid rgba(0,0,0,0.2);
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
			.label p {
				padding: 0 65px 0 10px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.img-wrapper {
				width: 200px;
				text-align:center;
				line-height: 200px;
				height: 200px;
				overflow: hidden;
				vertical-align: top;
			}
			.double .img-wrapper {
				width: 400px;
			}
			.img-wrapper img {
				margin: -25% -50%;
				vertical-align: middle;
				position: relative;
			}
			paper-fab {
		     	position: absolute;
		     	top: 165px;
		     	right: 15px;
		    }
		</style>
		<instagram-service id="instagram" posts="{{posts}}"></instagram-service>
		<div layout horizontal wrap>
			<template repeat="{{post in posts}}">
				<div>
					<div class="card {{post.size}}">
					    <paper-shadow z="2">
					        <div class="img-wrapper">
						        <img src="{{post.data.images.low_resolution.url}}">
						    </div>
						    <div class="card-inner label">
						        <p>
						        	{{post.data.caption.text}}
						        </p>
						    </div>
						    <paper-fab focused icon="arrow-forward"></paper-fab>
					    </paper-shadow>
					</div>
				</div>
			</template>
		</div>

	</template>

	<script>
		Polymer('post-thumb', {
			ready: function() {
				//populate post-thumbs
				var post = sender.templateInstance.model.post;
				/*this.thumbs = [
					{size: 'double', image: 'http://sociorocketnewsen.files.wordpress.com/2013/07/bullet_cat1.jpg?w=580&h=403', blurb: 'Cats that save the world. Cool cool cat.'},
					{size: '', image: 'http://sociorocketnewsen.files.wordpress.com/2013/07/bullet_cat1.jpg?w=580&h=403', blurb: 'I like Roombas, and you should too.'},
					{size: 'double', image: 'http://sociorocketnewsen.files.wordpress.com/2013/07/bullet_cat1.jpg?w=580&h=403', blurb: 'The new Banana Pi will be amazing.'}
				];*/
			}
		});
	</script>

</polymer-element>
